<html>
<p>image works!</p>
<body><div class="posters">

    <div class=poster1><a href="#"><img src="https://img.hdtoday.cc/xxrz/250x400/520/e0/89/e0898dd2a6184b11b7e01f155eaa8f75/e0898dd2a6184b11b7e01f155eaa8f75.jpg"></a><br>
    The Shawshank Redemption<br>1994 • 142m</div>
    <div class=poster1><img src="https://img.hdtoday.cc/xxrz/250x400/520/e0/89/e0898dd2a6184b11b7e01f155eaa8f75/e0898dd2a6184b11b7e01f155eaa8f75.jpg"><br>
        The Shawshank Redemption<br>1994 • 142m</div>
        <div class=poster1><img src="https://img.hdtoday.cc/xxrz/250x400/520/e0/89/e0898dd2a6184b11b7e01f155eaa8f75/e0898dd2a6184b11b7e01f155eaa8f75.jpg"><br>
            The Shawshank Redemption<br>1994 • 142m</div>
            <div class=poster1><img src="https://img.hdtoday.cc/xxrz/250x400/520/e0/89/e0898dd2a6184b11b7e01f155eaa8f75/e0898dd2a6184b11b7e01f155eaa8f75.jpg"><br>
                The Shawshank Redemption<br>1994 • 142m</div>
                <div class=poster1><img src="https://img.hdtoday.cc/xxrz/250x400/520/e0/89/e0898dd2a6184b11b7e01f155eaa8f75/e0898dd2a6184b11b7e01f155eaa8f75.jpg"><br>
                    The Shawshank Redemption<br>1994 • 142m</div>
                    </div></body>

                    </html>