header{
    display: flex;
    justify-content: space-between;
    margin: 0%;
}
header a{
   
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        position: relative;left: 80px;
        color: azure;
        margin: 0%;
    
}
.he{
    color: white;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}

.him {
    color: white;
    
        margin-top: 4%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
      
}
input{
    border-radius: 1px;
    border: 0px;
    background-color: #202830;
    height: 35px;

}

    
    
    i{
        color:white;
        margin-left: 10px;
        height: 15px;
        cursor: pointer;
        
    
    }
    
    .first{
        display: flex;justify-content: space-between;
    }
    .third img{
        width:250px;height:375px;
        margin-top: 3%;

    }
    
    .praveen{
        display: flex;justify-content: space-between;
    }
    .azhar img{
        width:250px;height:375px;
        margin-top: 6%;
    }
*{
    color: white;
}
#bb{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
margin: 0;
padding: 0;
line-height: 5px;
}
