<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
    <a routerLink="/home">Home</a>
    <a routerLink="/movies">Movies</a>
    <a routerLink="/tv">Tv</a>
    <a routerLink="/genre">Genre</a>
<span><input  type="search" class="search" size="50px" placeholder="Search for Movies,Shows...." > 
   <i class="fa fa-search"></i>

</span>
    <a href="login.html" >Logout</a>
    <router-outlet></router-outlet>

</header>
    <body>
        
        <div class="he">Action & Adventure</div>

        <div class="first">
            <div class="second" *ngFor="let movie of row5">
                <div class="third">
                    <img [src]="movie.cover">
                </div>
                <div class="fourth">{{movie.name}}</div>
                <div class="fifth">{{movie.duration}}</div>
            </div>
            </div><br><br>
                <span id="bb">Thriller</span>
                <div class="praveen">
                    <div class="chaitanya" *ngFor="let movie of row6">
                        <div class="azhar">
                            <img [src]="movie.cover">
                        </div>
                        <div class="certybox">{{movie.name}}</div>
                        <div class="office">{{movie.duration}}</div>
                    </div>
                    </div>
                
                   </body>