<div class="box">
   <div class="login">
      WE4U WELCOMES YOU
   </div>
   <hr class="rounded">
   <form action="#">
      <div class="username">
         <input type="text" placeholder="Email Address or Phone Number" id="username">
         
      </div>
      <div class="password">
         <input type="password" placeholder="Password" id="password">
         
      </div>
      <div class="content">
         
         <div class="forgot">
            <a href="#">Forgot Password</a>
         </div>
      </div>
      <div class="loginbtn">
         
         <a href="file:///C:/Users/vyes8/Desktop/full%20stack/loginlink.html" (click)="login()" >Login</a>            </div>
         <div class="ca"><a href="#">Create Account</a></div>
   </form>
</div>
