

header{
    display: flex;
    justify-content: space-between;

}
header a{
    
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    position: relative;left: 80px;
    color: azure;
}

input{
    border-radius: 1px;
    border: 0px;
    background-color: #202830;
    height: 35px;

}



i{
    color:white;
    margin-left: 10px;
    height: 15px;
    cursor: pointer;
    

}
 
.first{
    display: flex;justify-content: space-between;
}
.third img{
    width:250px;height:375px;
    margin-top: 3%;

}

.praveen{
    display: flex;justify-content: space-between;
}
.azhar img{
    width:250px;height:375px;
    margin-top: 6%;
}
*{
color: white;
}
