<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
  <a routerLink="/home">Home</a>
  <a routerLink="/movies">Movies</a>
  <a routerLink="/tv">Tv</a>
  <a routerLink="/genre">Genre</a>
<span><input  type="search" class="search" size="50px" placeholder="Search for Movies,Shows...." > 
 <i class="fa fa-search"></i>

</span>
  <a href="login.html">Logout</a>
  <router-outlet></router-outlet>

</header>
    <body>
        <div class="posters">
            <div class=poster1><a href="#"><img src="https://m.media-amazon.com/images/M/MV5BZjBiOGIyY2YtOTA3OC00YzY1LThkYjktMGRkYTNhNTExY2I2XkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_FMjpg_UX1000_.jpg"width="250px" height="375px"><br>
            Hoouse Of The Dragon<br>2022 • S1 8 Episodes</a></div>
            <div class=poster1><a href="#"><img src="https://m.media-amazon.com/images/M/MV5BNTg3NjcxYzgtYjljNC00Y2I2LWE3YmMtOTliZTkwYTE1MmZiXkEyXkFqcGdeQXVyNTY4NDc5MDE@._V1_FMjpg_UX1000_.jpg"width="250px" height="375px"><br>
                Rings Of Power<br><span style="cursor: default;color: white;">2022 • S1 8 Episodes </span></a></div>
                <div class=poster1><a href="#"><img src="https://m.media-amazon.com/images/M/MV5BM2IwNWY2YWEtNTU4Ni00MmE2LTljZjItNWQ0NzBlNjJiMzBiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_FMjpg_UX1000_.jpg"width="250px" height="375px"><br>Dahmer – Monster<br><span style="cursor: default;color: white;">2022 • S1 10 Episodes</span></a></div>
                <div class=poster1><a href="#"><img src="https://m.media-amazon.com/images/M/MV5BNmNkYmZjZDMtNjVmZC00OWVkLWI1MzEtYjI0ZDc2MjExYWY2XkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_.jpg"width="250px" height="375px"><br>The Terminal List<br><span style="cursor: default;color: white;">2022 • S1 8 Episodes</span></a></div>
                <div class=poster1><a href="#"><img src="https://m.media-amazon.com/images/M/MV5BMjkwZjcwMGQtNDAzOC00YjJiLThiYTgtNWU3ZjRiZmY2YzEzXkEyXkFqcGdeQXVyMTMzNDExODE5._V1_.jpg"width="250px" height="375px"><br>Severance<br><span style="cursor: default;color: white;">2022 • S1 9 Episodes</span></a></div>
                </div>
                <div class="posters2">
                <div class=poster2><a href="#"><img src="https://m.media-amazon.com/images/M/MV5BYTM0NjZjYjItM2JiYS00NmU5LWJmMTMtZjQ0OWU3Mzk1ZWZjXkEyXkFqcGdeQXVyMTAxNDE3MTE5._V1_.jpg" width="250px" height="375px"><br>The Sandman<br><span style="cursor: default;color: white;">2022 • S1 10 Episodes</span>	</a></div>
              <div class=poster2><a href=""><img src="https://static.cinemagia.ro/img/db/movie/95/37/29/stranger-things-761100l.jpg"width="250px" height="375px"><br>Stranger Things<br><span style="cursor: default;color: white;">2016- • S4 8 Episodes</span>
            </a></div>
          <div class=poster2><a href=""><img src="https://m.media-amazon.com/images/M/MV5BOTEyNDJhMDAtY2U5ZS00OTMzLTkwODktMjU3MjFkZWVlMGYyXkEyXkFqcGdeQXVyMjkwOTAyMDU@._V1_.jpg" width="250px" height="375px"><br>The Boys<br><span style="cursor: default;color: white;">2019- • S3 8 Episodes</span></a></div>
                                    <div class=poster2><a href="#"><img src="https://m.media-amazon.com/images/M/MV5BMTAzNzlhYjItN2MxZS00ZTg4LWFmZGQtN2I1ZWE5YjgzODY3XkEyXkFqcGdeQXVyNjk1NzU1Mjk@._V1_FMjpg_UX1000_.jpg" width="250px" height="375px"><br>Extraordinary Attorney Woo<br><span style="cursor: default;color: white;">2022 • S1 16 Episodes</span></a></div>
                                    <div class=poster2><a href="#"><img src="https://m.media-amazon.com/images/M/MV5BMzRlZjkwOWEtMjBhMy00NmM3LWFkMzgtYTFmODIyMWFhNDkyXkEyXkFqcGdeQXVyMTUzOTcyODA5._V1_FMjpg_UX1000_.jpg" width="250px" height="375px"><br>Little Women<br><span style="cursor: default;color: white;">2022 • S1 16 Episodes</span></a></div>
        
                                </div>
    </body>